<div class="main-content">
  <div class="container-fluid">
    <div class="row">
          <div class="col-md-11 text-center">
              <div class="card ">
                  <div class="card-body ">
                    <h2>Bienvenido al sistema de Administración de Ventas </h2>
                    <br>
                    <div class="row">
                      <div class="col text-center">
                        <button class="btn btn-info float-left" [routerLink]="['/clientes/']">Administrar Clientes</button>
                        <button class="btn btn-primary float-none" [routerLink]="['/productoComponent/']">Administrar Productos</button>
                        <button class="btn btn-success float-right" [routerLink]="['/ventas/']">Administrar Ventas</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>   
      </div>
  </div>
</div>
